.ingrediente_img{
    min-height: 55vh;
}
.nuestra_masa,.nuestras_especies{
    background-image: url('../../img/nuestra_masa.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nuestras_especies{
    background-image: url('../../img/nuestras_especies.webp');
}