.slider{
    min-height: 45vh;
    width: 100%;
    .slider1,.slider2,.slider3,.slider_menu,.slider_nosotros{
        background-image: url('../../img/slider_home/slider_home_1.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 45vh;
    }
    .slider2{
        background-image: url('../../img/slider_home/slider_home_2.webp');
    }
    .slider3{
        background-image: url('../../img/slider_home/slider_home_3.webp');
    }
    .slider_menu{
        background-image: url('../../img/slider_home/slider_menu.webp');
        background-position:top;
        background-size: cover;
        height: 45vh;
    }
    .slider_nosotros{
        background-image: url('../../img/slider_home/slider_nosotros.webp');
    }
    @media only screen and (max-width: 600px) {
        .slider1{
            background-image: url('../../img/slider_home/slider_home_1_movil.webp');
        }
        .slider2{
            background-image: url('../../img/slider_home/slider_home_2_movil.webp');
        }
        .slider3{
            background-image: url('../../img/slider_home/slider_home_3_movil.webp');
        }
        .slider_menu{
            background-image: url('../../img/slider_home/slider_menu_movil.webp');
        }
      }
}   